@font-face {
  font-family: "Workbench";
  src: url("https://fonts.googleapis.com/css2?family=Workbench");
}

/* Google Font */
* {
  font-family: "Roboto", sans-serif;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  min-width: 1200px;
  /* overflow-x: hidden; */
  background-color: #f2f2f2;
}

/* code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
} */

pre {
  background-color: #fafafa;
  border: 1px solid #999;
  border-radius: 3px;
  display: block;
  width: 100%;
  margin: 0 0 0 30px;
  white-space: pre-wrap;
  padding: 0.5rem 1rem 0.5rem 1rem;
}

code {
  font-family: 'Courier New', Courier, monospace;
  /* background-color: #f9f9f9; */
  /* border: 1px solid #ddd; */
  /* border-radius: 4px; */
  /* margin-left: 1rem; */
  font-size: 90%;
  color: #333;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

a {
  color: inherit;
  text-decoration: none;
}

img[alt=article-title-image] { 
  width: 100%;
  margin-left: auto;
  aspect-ratio: 16 / 9;
  justify-self: center;
}

a.disabled {
  pointer-events: none;
  cursor: default;
}